* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

p {
    font-size: 1.4rem;
}

.topnav {
    overflow: hidden;
    background-color: #0A1128;
}

body {
    margin: 0;
}

.card-grid {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.card {
    margin-top: 1.2rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.cardOff {
    display: none;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}

.state {
    font-size: 1.2rem;
    color: #1282A2;
}

.switch {
    padding-left: 5%;
    padding-right: 5%;
}

#chartContainer {
    margin-top: 1rem;
    display: flex;
    height: 30rem;
}

#chartParamBox {
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 1rem;
}

.row input {
    font-size: 1rem;
}